extends layout

block content
  .w3-card-4
    h1 Welcome to MusicGo!
    // img(src=user.picture)
    
    h2 MusicGO is an API made by
    p Al Varrel Putra Kusuma (18216020)
    p Information System and Technology 2016

    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey Auth0 - NodeJS
      a(href="/").w3-bar-item.w3-button Hello
      if locals.user
        a(href="/user" ).w3-bar-item.w3-button Test
        a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Log Out
      else
        a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button Log In