extends ../_bootstrap
append styles
	// Bootstrap theme
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
	// Custom styles for this template
	link(href='../css/theme.css', rel='stylesheet')
block body
	// Fixed navbar
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Bootstrap theme
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home
					li
						a(href="/about") About
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
							| Services 
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href="/charts") All Services
							li.divider
							li.dropdown-header Charts
							li
								a(href="/charts/lastfm") Last.FM Charts
							li
								a(href="/charts/mixed") Mixed Charts
		
	.container.theme-showcase(role='main')
		// Main jumbotron for a primary marketing message or call to action
		.jumbotron
			h1.center Mixed Charts (Last.FM + Spotify + Youtube)
			p
				| Last updated: 20 December 2018.
		.page-header
			h1 Get Full Charts (JSON Files)
		p
			button.btn.btn-lg.btn-primary(type='button') Song Chart
			button.btn.btn-lg.btn-info(type='button') Artist Chart
			button.btn.btn-lg.btn-success(type='button') Album Chart

		.page-header
			h1 Sneakpeak of charts
		.row
			.col-md-6
				+table(["#","Artist Name","Listener","Streams"],[["1","Blackpink","54.281.713","2.729.863.589"],["2","Ariana Grande","67.469.759","2.981.293.880"],["3","Bruno Mars","42.229.171","1.485.967.307"]])
			.col-md-6
				+table(["#","Song Name","Artist Name","Streams"],[["1","Ddu Ddu Ddu","Blackpink","755.573.412"],["2","DNA","BTS","772.260.320"],["3","Selow","Via Vallen","20.107.002"]])